/* 設定寬度跟置中 */
.container {
  margin: 0 auto;
  width: 1500px;
}

/* 分類頁的作者跟價格 */
.col3 {
  /* border: 1px black solid; */
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 390px;
  margin: 10px auto;
  padding: 0 auto;
}
.authorColor {
  color: hsl(36, 50.7%, 50%);
  transition: all 0.55s;
}
.authorColor:hover {
  color: hsl(38, 74%, 24%);
}
.PandChartBtn {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: end; /* 垂直置中 */
}
/* 分類頁的價格 */
.PandChartBtn h3 {
  font-weight: bold;
  color: hsl(353, 100%, 29.2%);
  transition: all 1s;
}
/* 分類頁的加入購物車按鈕 */
.PandChartBtn button {
  color: white;
  background-color: hsl(36, 50.7%, 71.4%);
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  transition: all 0.7s;
}
.PandChartBtn button:hover {
  background-color: hsl(353, 100%, 29.2%);
}

/* 商品小圖 */
.smProduct img {
  /* width: 150px; */
  width: 100%;
  margin: 15px auto;
  transition: all 0.5s;
}
.smProduct {
  margin-bottom: 50px;
  padding: 30px;
}

/* 書名超連結 */
.smProduct span {
  color: rgb(34, 34, 34);
  padding-bottom: 10px;
  display: inline-block;
  transition: all 0.55s;
}
/* 動態產生線 */
.smProduct h4::after {
  background-color: hsl(353, 100%, 29.2%);
  content: "";
  display: block;
  width: 30%;
  height: 2px;
  transition: all 0.4s;
}
.smProduct a:hover h4::after {
  width: 100%;
}

/* 滑到變圓角，可惜手機不能有 */
.smProduct a:hover img {
  scale: 1.03;
  border-radius: 20px;
  z-index: 2;
}
.smProduct a:hover span {
  color: hsl(36, 50.7%, 71.4%);
}

/* 改尺寸 */
/* 659~577 */
@media (min-width: 577px) and (max-width: 670px) {
  /* 分類頁的作者跟價格 */
  .PandChartBtn {
    flex-direction: column;
    margin: 0px auto;
  }
  .PandChartBtn h3 {
    font-size: 20px;
    margin-bottom: 0px;
  }
  .PandChartBtn button {
    width: 100%;
    border-radius: 0px;
  }
  /* 小圖區 */
  .col3 {
    margin: 0 auto;
    height: 370px;
    width: 150px;
  }
  .PandChartBtn {
    margin-top: auto;
  }
}
/* 中尺寸 */
@media (min-width: 670px) and (max-width: 992px) {
  /* 分類頁的作者跟價格 */
  /* 書名超連結 */
  .smProduct span {
    font-size: 23px;
  }
  /* 價格 */
  .PandChartBtn {
    align-items: end;
  }
  .PandChartBtn h3 {
    font-size: 22px;
  }
  .PandChartBtn button {
    width: 110px;
  }
  /* 小圖區 */
  .col3 {
    margin: 10px auto;
    padding: 0 2px;
    width: 190px;
    height: 360px;
  }
  /* 細項的li整體往左移 */
  .subA {
    margin-left: -20px;
  }
}

/* 小尺寸 */
@media (max-width: 577px) {
  .container {
    margin: 0 auto;
    width: 100%;
  }
  /* 分類頁的作者跟價格 */
  .PandChartBtn {
    flex-direction: column;
  }
  /* 價格 */
  .PandChartBtn h3 {
    font-size: 25px;
    margin-bottom: 0px;
  }
  .PandChartBtn button {
    width: 100%;
    border-radius: 0px;
  }
  /* 小圖區 */
  .col3 {
    margin: 10px auto;
    padding: 0 15px;
    width: 170px;
    height: 330px;
  }
  .smProduct span {
    font-size: 23px;
  }
}
