/* 經典主題 */
:root {
	/* 主色調 */
	--main-color: rgb(150, 0, 0);
	/* 輔色調 */
	--second-color: rgb(205, 160, 99);
	/* 輔色調(淺) */
	--second-colorLight: rgba(248, 249, 250, 0.5);

	/* 主色調文字色 */
	--main-text-color: white;
	/* 輔色調文字色 */
	--second-text-color: black;


	/* 底層背景色 */
	--main-back-color: rgb(255, 255, 255);



	/* 引用文字色 */
	--quote-text-color: #777;

	/* 輸入框焦點背景顏色 */
	--inputfocus: #FFF8DF;

	/* 錯誤顏色 */
	--error: red;
}