/* 背景：圖片 */
.back-img {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../../images/test_back.png');
	background-position: center;
	background-repeat: no-repeat;
	/* 背景圖片覆蓋整個區域 */
	background-size: cover;
	/* 用 min-height 讓內容高度可撐開，和height兩者效果完全不一樣 */
	min-height: 100vh !important;
	z-index: -99;
}



/* 圓角內容區塊 */
.content {
	background-color: var(--main-back-color-transluc);
	border-radius: 10px;
	box-shadow: 0 8px 16px var(--second-back-color-transluc);
}