/* ========================================
   基本全局樣式（適用於所有設備）
   寫好的CSS貼在這區
======================================== */

/* 讓父元素有高度才能垂直置中 */
.row.page-login {
	height: 100vh;
}

/* 登入區 && 圓角內容區塊 */
.content.page-login {
	width: 36%;
	/* min-width: 480px; */
	min-height: 660px;
	text-align: center;
}

/* 圓角區塊設定 */
.content-left,
.content-right {

	padding: 50px 50px 60px 50px !important;

	/* 所有內容 */
	* {
		display: flex;
		flex-direction: column;
	}
}



/* ========================================
   xxl: ≥ 1400px (大桌機、4K 螢幕)
   container 寬度: 1320px
======================================== */
@media (min-width: 1400px) {
	.content.page-login {
		min-width: 660px;
		min-height: 800px;
	}

	/* BOX內邊距 */
	.content-left,
	.content-right {
		padding: 30px 30px 40px 30px !important;
	}
}

/* ========================================
   xl: 1200px ~ 1399px (一般桌機)
   container 寬度: 1140px
======================================== */
@media (min-width: 1200px) and (max-width: 1399px) {
	.content.page-login {
		min-width: 580px;
		min-height: 720px;
	}

}

/* ========================================
   lg: 992px ~ 1199px (小型桌機、橫向大型平板)
   container 寬度: 960px
======================================== */
@media (min-width: 992px) and (max-width: 1199px) {
	.content.page-login {
		min-width: 480px;
		/* max-width: 500px; */
	}

	/* BOX內邊距 */
	.content-left,
	.content-right {
		padding: 30px 40px 40px 40px !important;
	}
}

/* ========================================
   md: 768px ~ 991px (橫向 iPad、小型平板)
   container 寬度: 720px
======================================== */
@media (min-width: 768px) and (max-width: 991px) {


	.content.page-login {
		min-width: 380px;
		min-height: 540px;
	}

	/* BOX內邊距 */
	.content-left,
	.content-right {
		padding: 40px 30px 40px 30px !important;

	}
}

/* ========================================
   sm: 577px ~ 767px (大型手機、直向平板)
   container 寬度: 540px
======================================== */
@media (min-width: 577px) and (max-width: 767px) {
	.content.page-login {
		border-radius: 0 !important;
		box-shadow: none;

		min-width: 80%;
		min-height: 540px;
	}

	/* BOX內邊距 */
	.content-left,
	.content-right {
		padding: 50px 35px 35px 35px !important;

	}
}

/* ========================================
   xs: ≤ 576px (手機)
   container 寬度: 100% (fluid)
======================================== */
@media (max-width: 576px) {
	.content.page-login {
		border-radius: 0;
		background-color: transparent;
		box-shadow: none;

		min-width: 100%;
		min-height: 540px;
	}

	/* BOX內邊距 */
	.content-left,
	.content-right {
		padding: 50px 30px 40px 30px !important;

	}
}