.box {
	/* width: 100%; */
	/* height: 100vh; */

	background-color: var(--main-back-color-transluc);
	/* 輔助待刪 */
}




/****************************** 標準區 - 開始 ******************************/



/****************************** 標準區 - 結束 ******************************/






.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	/* 半透明黑色遮罩 */
	z-index: 998;
	display: none;
}

/* ========================================
   基本全局樣式（適用於所有設備）
   寫好的CSS貼在這區
======================================== */

/* 內容區塊 */
.content.members {
	padding: 10px;
	padding-top: 30px;
	border-radius: 0;
	/* 用width不知道為什麼消費紀錄不會到那寬度 */
	/* 一下適用min-width、一下適用width，我兩個都設！ */
	width: 900px;
	min-width: 900px;
	min-height: 100vh;
}



/* ========================================
   xxl: ≥ 1400px (大桌機、4K 螢幕)
   container 寬度: 1320px
======================================== */
@media (min-width: 1400px) {
}




/* ========================================
   xl: 1200px ~ 1399px (一般桌機)
   container 寬度: 1140px
======================================== */
@media (min-width: 1200px) and (max-width: 1399px) {}




/* ========================================
   lg: 992px ~ 1199px (小型桌機、橫向大型平板)
   container 寬度: 960px
======================================== */
@media (min-width: 992px) and (max-width: 1199px) {}




/* ========================================
   md: 768px ~ 991px (橫向 iPad、小型平板)
   container 寬度: 720px
======================================== */
@media (min-width: 768px) and (max-width: 991px) {
	/* 內容區塊 */
	.content.members {
		padding: 10px;
		width: 720px;
		min-width: 720px;
		min-height: 720px;
	}
}




/* ========================================
   sm: 577px ~ 767px (大型手機、直向平板)
   container 寬度: 540px
======================================== */
@media (min-width: 577px) and (max-width: 767px) {
	/* 內容區塊 */
	.content.members {
		padding: 10px;
		width: 520px;
		min-width: 520px;
		min-height: 650px;
	}
}




/* ========================================
   xs: ≤ 576px (手機)
   container 寬度: 100% (fluid)
======================================== */
@media (max-width: 576px) {

	/* 內容區塊 */
	.content.members {
		padding: 10px;
		width: 100%;
		min-width: 100%;
		min-height: 600px;
	}
}