<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>

    <link rel="stylesheet" href="css/indexStyle.css" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/格子.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <!-- defer同步讀取，但讀取完js檔才解析網頁 -->
    <script defer src="js/indexScript.js"></script>
    <!-- <script defer src="js/getAllBooksVue_csv.js"></script> -->
    <title>棲遲書店</title>
  </head>

  <!-- app不要綁body，會有警告
  <body id="app"> -->
  <body>
    <div id="app">
      <!-- 彈出視窗 -->
      <div class="popup" v-show="showPopup">
        <!-- popupBackground為了讓背景半透明，也為了能夠點擊空白處關閉視窗 -->
        <div class="popupBackground" @click="showPopup = !showPopup"></div>
        <!-- 可以嘗試用阻止冒泡方式改寫，就不用上面一行。不過這樣又遇到X在popupBody裡面的問題 -->
        <div class="popupBody">
          <div class="popupClose" @click="showPopup = !showPopup">X</div>
          <h2 class="popupHeader">重要說明</h2>
          <p class="popupMain">
            本網頁一切內容皆為虛購，與現實的人、事、物皆無關連。
            實際上沒有這間書店；網頁裡呈現的商品也只為展示，一切皆為虛構。
          </p>
          <div class="popupFooter">棲遲書店</div>
        </div>
      </div>

      <!-- 導航欄 -->
      <header class="titleNav">
        <ul class="titleNavIcon">
          <li class="logo">
            <h1>
              <a href="index.html"><img src="icon/logo.png" alt="棲遲書店" /></a>
            </h1>
            <div class="logoUpArror">▲</div>
            <div class="logoDialog">回到首頁</div>
          </li>
          <li class="search">
            <input
              type="text"
              v-model="searchValue"
              @keyup.enter="findBookByCondition(selectedField, searchValue)"
              placeholder="右邊欄位可選" />
            <select v-model="selectedField">
              <option value="">全部欄位</option>
              <option value="書名">書名</option>
              <option value="作者">作者</option>
              <option value="ISBN">ISBN</option>
              <option value="分類">分類</option>
              <option value="類型">類型</option>
              <option value="系列名稱">系列名稱</option>
            </select>
            <span class="searchBtn" @click="findBookByCondition(selectedField, searchValue)">搜尋</span>
          </li>
          <li class="product">
            <a href="#" class="emoji">📚</a>
            <div class="productUpArror">▲</div>
            <div class="productDialog">書籍一覽</div>
          </li>
          <li class="titleNavEmoji member">
            <a href="#" class="emoji">🧑</a>
            <div class="memberUpArror">▲</div>
            <div class="memberDialog">會員資料</div>
          </li>
          <li class="titleNavEmoji shoppingCart">
            <a href="#" class="emoji">🛒</a>
            <div class="shoppingCartUpArror">▲</div>
            <div class="shoppingCartDialog">去購物車</div>
          </li>
        </ul>
      </header>

      <!-- 首頁主體 -->
      <main>
        <!-- :key="carouselIndex" 和 :key="broadcastIndex"：這是關鍵部分。透過將一個唯一的 key 綁定到 <img> 元素上，並且這個 key 會隨著 carouselIndex 或 broadcastIndex 的更新而改變，你告訴 Vue 這是一個不同的元素。當 key 改變時，Vue 會將舊元素視為被移除，新元素視為被插入，從而觸發 transition 動畫。 -->
        <div class="carousel" @mouseenter="isChange(false)" @mouseleave="isChange(true)">
          <!-- mode="out-in"：<transition> 組件上的這個屬性確保了離開的元素會先完成動畫，然後進入的元素才開始動畫。這可以防止元素在動畫過程中重疊。 -->
          <transition v-bind:name="slide" mode="out-in">
            <img
              :key="carouselIndex"
              v-bind:src="carouselUrl[carouselIndex]"
              v-bind:alt="carouselAlt[carouselIndex]"
              loading="lazy" />
          </transition>

          <!-- 左右按鈕 -->
          <div class="nextImg" @click="increaseCarouselIndex(1)">▶︎</div>
          <div class="lastImg" @click="increaseCarouselIndex(-1)">◀︎</div>

          <!-- 輪播圖片下方中間半透明的圓球，選擇特定圖片 -->
          <div class="changeCarouselIndex">
            <div
              class="setCarouselIndex"
              v-bind:class="{ 'active-red': carouselIndex === 0 }"
              @click="setCarouselIndex(0)"></div>
            <div
              class="setCarouselIndex"
              v-bind:class="{ 'active-red': carouselIndex === 1 }"
              @click="setCarouselIndex(1)"></div>
            <div
              class="setCarouselIndex"
              v-bind:class="{ 'active-red': carouselIndex === 2 }"
              @click="setCarouselIndex(2)"></div>
            <div
              class="setCarouselIndex"
              v-bind:class="{ 'active-red': carouselIndex === 3 }"
              @click="setCarouselIndex(3)"></div>
            <div
              class="setCarouselIndex"
              v-bind:class="{ 'active-red': carouselIndex === 4 }"
              @click="setCarouselIndex(4)"></div>
          </div>
        </div>

        <div class="row container recommend">
          <div class="col-md-12">
            <div class="row">
              <!-- 條列化商品 -->
              <!-- 若裡面有資料 -->
              <div class="row smProduct">
                <!-- 單個商品圖版型 -->
                <div class="col3" v-for="(book, index) in currentBooks" v-bind:key="book.ISBN">
                  <a v-bind:href="book.url||'#'">
                    <div class="container-fluid">
                      <img v-bind:src="book.封面連結複製用" alt="book.書名" />
                    </div>
                    <!-- 若書名超過15則會... -->
                    <div v-if="book.書名.length>15">
                      <h4><span>{{book.書名.slice(0,15)}}...</span></h4>
                    </div>
                    <div v-else>
                      <h4><span>{{book.書名}}</span></h4>
                    </div>
                  </a>
                  <a href="#" class="authorColor">
                    <!-- 若作者超過17就:用三元運算寫 -->
                    {{ book.作者.length>17 ? book.作者.slice(0, 17)+'...' : book.作者 }}
                  </a>
                  <div class="PandChartBtn">
                    <i
                      ><h3><small>$</small>{{book.售價}}</h3></i
                    ><button>加入購物車</button>
                  </div>
                </div>
              </div>
              <hr />
            </div>
          </div>
        </div>

        <!-- 促銷訊息 -->
        <div class="broadcast" @mouseenter="isChange(false)" @mouseleave="isChange(true)">
          <transition name="slide" mode="out-in">
            <img
              :key="broadcastIndex"
              :src="broadcastImagesUrl[broadcastIndex]"
              :alt="broadcastImagesAlt[broadcastIndex]"
              loading="lazy" />
          </transition>

          <div class="changeBroadcastIndex">
            <div
              class="setBroadcastIndex"
              v-bind:class="{ 'active-red': broadcastIndex === 0 }"
              @click="setBroadcastIndex(0)"></div>
            <div
              class="setBroadcastIndex"
              v-bind:class="{ 'active-red': broadcastIndex === 1 }"
              @click="setBroadcastIndex(1)"></div>
          </div>
        </div>
      </main>

      <!-- 頁尾資訊 -->
      <footer class="footer">
        <div class="community">
          <h3>社群連結</h3>
          <div class="communityIcon">
            <a href="#"><img src="icon/big-youtube-logo_81131.png" alt="youtube" /></a>
            <a href="#"><img src="icon/camera_919613.png" alt="ig" /></a>
            <a href="#"><img src="icon/facebook_3488299.png" alt="fb" /></a>
            <a href="#"><img src="icon/line_3992580.png" alt="line" /></a>
          </div>
        </div>
        <div class="termsOfService">
          <h3>服務條款</h3>
          <a href="#">服務條款</a>
          <a href="#">隱私權條款</a>
        </div>
        <p class="copyright">Copyright © 2025 All rights reserved. Web design by xxx xxxxxx</p>
      </footer>
    </div>
  </body>
</html>
