/* 是誰決定了抬頭導航的高度？ */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: black;
}

/* 彈出視窗 */
.popup {
  position: fixed;
  z-index: 10;
}
.popupBackground {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}
.popupBody {
  background-color: white;
  width: 80%;
  position: fixed;
  top: 40%;
  left: 10%;
  z-index: 11;
}
.popupClose {
  position: absolute;
  right: 0px;
}
.popupClose:hover,
.popupBackground:hover {
  cursor: pointer;
}

/* 抬頭導航 */
.titleNav {
  padding: 0% 10%;
  position: relative;
}
/* 放大兩倍，向下位移一點點*/
.hamburger {
  transform: scale(2, 2);
  position: absolute;
  top: 0.5em;
}
.showTitleNavClassification {
  display: none;
}
/* 設定margin-top，那整個titleNav都跟著降低高度，不知為何 */
.titleNavClassification {
  padding-top: 2em;
}
.titleNavClassification li {
  line-height: 2.5em; /* 讓文字置中 */
}
.titleNavIcon {
  display: flex;
  justify-content: space-between;
  margin-left: 25%;
}

@media (min-width: 576px) {
  .titleNav {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
  }
  .titleNavTire1 {
    width: 60%;
  }
  .titleNavClassification {
    display: flex;
    justify-content: space-between;
    position: relative;
    /* 書籍的子元素有5個字，設太少那滑鼠滑過書籍再往右移動到旁邊的漫畫時，書籍的子元素不會收起。
    如果漫畫等也要有下拉式選單，那就都用定位，設定左邊位置 */
    padding-left: 5em;
  }
  .showTitleNavClassification {
    display: flex; /* 中螢幕顯示資料，和titleNavClassification重複是怕這邊class被點選漢堡圖案時取消 */
  }
  /* 滑鼠滑過時會增加寬度，讓他脫離正常文檔流，滑鼠滑過時後面的文字移動 */
  .titleNavBook {
    position: absolute;
    left: 0%;
  }
  .titleNavTireBook {
    position: absolute; /* 排版不會改變，但已經脫離正常文檔流，顯示時不會增加容器高度 */
    display: none;
  }
  .titleNavBook:hover {
    width: 5em;
  }
  .titleNavBook:hover .titleNavTireBook {
    display: block;
    background-color: white;
  }
  .titleNavIcon {
    width: 30%;
    margin-left: 0%;
  }
  .hamburger {
    display: none;
  }
} /* end of @media (min-width: 576px) */
.titleNavEmoji {
  transform: translateY(0.4em);
}
.logo {
  width: 20px;
}
.logo Img {
  width: 100%;
}

/* 濾鏡效果，亮度設定為 0*/
/* .titleNavEmoji {
  filter: brightness(0);
} */

main {
  margin: 0 10vw;
}

/* 輪播 */
.Carousel img {
  width: 100%;
}

/* 推薦商品 */
.recommend {
  display: flex;
  flex-wrap: wrap;
}
.recommendCell {
  flex-basis: 48%; /* 占用容器寬度的48%，留一點給間距 */
}
@media (min-width: 576px) {
  .recommendCell {
    flex-basis: 23%;
  }
}
@media (min-width: 768px) {
  .recommendCell {
    flex-basis: 15%;
  }
}
.recommendCell + .recommendCell {
  margin-left: 1vw;
}
.recommendCell img {
  width: 100%;
}

/* 廣播 */
.broadcast img {
  width: 100%;
}

/* 頁尾 */
footer {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
}
.community {
  /* display: flex; */
  padding: 0 10vw;
  /* width: 50vw; */
}
.community h3 {
  margin-bottom: 0.5em;
}
.community a + a {
  margin-left: 2vw;
}
/* .communityIcon {
  width: 25px;
} */
.communityIcon img {
  width: 25px;
}
.termsOfService {
  /* width: 50vw; */
  padding: 0 10vw;
}
.termsOfService h3 {
  margin-bottom: 0.5em;
}
.termsOfService a + a {
  margin-left: 2vw;
}
footer p {
  padding: 0.5em 10vw;
}
