body {
  background-image: url('../../images/test_back.png'); /* 設定背景圖片 */
  background-position: center; /* 背景位置 */
  background-repeat: no-repeat; /* 不重複背景圖片 */
  background-size: cover; /* 背景圖片覆蓋整個區域 */
  background-attachment: fixed; /* 使背景固定 */
  height: 100vh; /* 設定高度，確保背景顯示完整 */
  margin: 0; /* 移除默認邊距 */
}

/* 基本樣式：左右各50%寬，高度佔滿 */
.box-md-6 {
	width: 50%;
	height: 100vh;
}

/* 圓角內容區塊 */
.content {
	background-color: var(--second-colorLight);
	border-radius: 10px !important;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

	width: 36%;
	min-width: 480px;
	min-height: 720px;
	
	text-align: center;
}

/* 圓角區塊設定 */
.content-left,
.content-right {
	padding: 30px 40px 40px 40px !important;

	/* 所有內容 */
	* {
		display: flex;
		flex-direction: column;
	}
}

/* 【左側歡迎區域 */
.content-left {

	/* 棲遲書屋 */
	.title {
		text-align: center;
		transition: opacity 2s ease 2s; /* 延遲1秒後逐漸顯示，持續2秒 */

		h1{
			font-family: '王翰宗中行書';
			font-size: 90px;
		}
	}

	/* 當 h1 加上 show 類別時顯示 */
	.title-anime {
		h1 {
			/* 透明 */
			opacity: 0;
			/* 指定透明：淡入效果	ease:常見預設值，慢 - 快 - 慢 */
			transition: opacity .8s ease;
		}

		/* JS加入的樣式，用以啟動上方動畫效果 */
		.show {
			/* 顯示 */
			opacity: 1;
		}
	}

	/* 歡迎標語 */
	.welcome {
		font-family: '王翰宗粗鋼體';
		margin-top: 50px;
		

		/* 主題 */
		h2 {
			margin-bottom: 0;
			font-size: 44px;
			text-align: center;
		}

		/* 橫線 */
		.welcomeSoild {
			margin: 10px auto;
			height: 2px;
			width: 70%;
			background-color: var(--second-text-color);

		}

		/* 內容 */
		span {
			margin: 0 auto;
			width: 80%;

			font-size: 24px;
			text-align: justify;
		}
	}

	/* 【歡迎標語-動畫 (讓引用區淡入顯示，避免元素區塊一開始突兀出現展開) */
	.welcome-anime {

		/* 標題先出現 */
		.welcomeTitle {
			/* 透明 */
			opacity: 0;
			/* 指定透明：淡入效果	ease:常見預設值，慢 - 快 - 慢 */
			transition: opacity 1s ease 0.5s;
		}

		/* 訊息再出來 */
		.welcomeMessage,
		.welcomeSoild {
			opacity: 0;
			transition: opacity 1s ease 1.5s;
		}

		/* JS加入的樣式，用以啟動上方動畫效果 */
		.show {
			/* 顯示 */
			opacity: 1;
		}

	}

	/* 名言引用 */
	.quotations {
		font-family: '王翰宗顏楷體';
		margin: 0 auto;

		/* 引用區塊樣式 */
		.quote {
			border-left: 2.4px solid #777;
			padding-left: 0.5em;
			background-color: rgba(255, 255, 255, 0.25);

			font-size: 18px;
			font-style: italic;
			color: #777;
			line-height: 1.6;
		}

		/* 作者 */
		.author {
			margin: 0;
			margin-top: 5px;

			font-size: 16px;
			text-align: right;
			color: var(--quote-text-color);
			display: inline-block;

			/* 偽樣式 —— */
			&::before {
				content: "——";
				margin-right: 4px;
			}
		}
	}

	/* 【名言引用-動畫 (讓引用區淡入顯示，避免元素區塊一開始突兀出現展開) */
	.quotations-anime {

		/* 名言先出現 */
		.quote {
			/* 透明 */
			opacity: 0;
			/* 指定透明：淡入效果	ease:常見預設值，慢 - 快 - 慢 */
			transition: opacity 1.5s ease 2.0s;
		}

		/* 作者再出來 */
		.author {
			opacity: 0;
			transition: opacity 1s ease 2.5s;
		}

		/* JS加入的樣式，用以啟動上方動畫效果 */
		.show {
			/* 顯示 */
			opacity: 1;
		}

	}

	/* 動畫】 */
}

/* 左側登入區域 】*/



/* 【右側登入區域 */
.content-right {

	/* 標準輸入區 */
	.inp_modle {
		p {
			font-size: 32px;
		}

		.soild {
			height: 3px;
		}

		input {
			height: 32px;
			font-size: 18px;
		}
	}
	
	/* 登入按鈕 */
	button {
		padding: 5px;
		border: 0;
		border-radius: 4px;
		background-color: var(--main-color);
		height: 32px;

		font-family: '王翰宗粗鋼體';
		color: var(--main-text-color);
	}

	/* 超大或 */
	.or {
		font-family: '王翰宗中行書';
		font-size: 72px;
		margin: 0;
	}

	/* 忘記密碼與登入會員 */
	.other {
		flex-direction: row;
		justify-content: center;
	}
}

/* 右側登入區域】 */










/* sm：小螢幕裝置（例如手機） */
@media (max-width: 540px) {
	.box-md-6 {
		min-width: 100%;
		padding: 0 !important;
		
		height: 540px !important;
	}

	.content {
		border-radius: 0 !important;
		background-color: transparent !important;
	}

	.content-left{

		h1{
			font-size: 60px !important;
		}

		.welcome{
			/* 主題 */
			h2 {
				font-size: 33px !important;
			}

			/* 內容 */
			span {
				width: 90% !important;
				font-size: 20px !important;
			}
		}

		/* 名言引用 */
		.quotations {

			/* 引用區塊樣式 */
			.quote {
				font-size: 14px !important;
			}

			/* 作者 */
			.author {
				font-size: 13px !important;
			}
		}
		
	}

	/* 【右側登入區域 */
	.content-right {
		/* 標準輸入區 */
		.inp_modle {

			p {
				font-size: 30px !important;
			}

			input {
				height: 28px !important;
				font-size: 16px !important;
			}
		}

		/* 登入按鈕 */
		button {
			padding: 4px 0 !important;
			height: 32px !important;
		}

		/* 超大或 */
		/* .or {
			font-size: 72px;
		} */

		/* 忘記密碼與登入會員 */
		.other {
		}
	}
}
