.box {
	width: 100%;
	height: 100vh;

	background-color: bisque;
	/* 輔助待刪 */
}

/* 響應式：手機時上下堆疊，寬度100% */
@media (max-width: 991px) {
	.box {
		padding: 30px 0;
		height: 700px;
		width: 100%;

	}
}


/****************************** 標準區 - 開始 ******************************/


/* 圓角內容區塊 */
.content {
	background-color: var(--second-colorLight);
	border-radius: 10px;

	width: 36%;
	min-width: 320px;
	min-height: 480px;
	text-align: center;
}

/****************************** 標準區 - 結束 ******************************/


/* 圓角內容區塊 */
.content {
	padding: 20px;
	margin: 50px 0;
	text-align: left;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


/* 進度條 */
.progress {
	width: 100%;
	height: 12px;


	.progress-bar {
		background-color: var(--main-color);
	}
}


/* 【輸入區塊 */
.step {
	display: none;
	width: 100%;

	h4 {
		/* text-align: left; */
		font-family: '王翰宗粗鋼體';
		font-size: 18px;
		/* font-weight: bold; */
		color: var(--main-color);

		margin-bottom: 30px;
	}
}

.active-step {
	display: block;
}

/* 輸入區塊】 */


/* Step2-性別核取 */
.gender {
	display: flex;
	flex-direction: row;
	/* 對齊 - 調整核取少了2px */
	margin-top: 2px;

	gap: 10px;

	.gender-check {
		display: flex;

		margin-right: 36px;

		input[type="radio"] {
			box-shadow: none;

		}

		label {
			white-space: nowrap;
			/* 防止意外換行 */
		}
	}


}

/* Step2-生日 */
#birth {
	/* 調整生日輸入框少了內部上下1px */
	padding: 1px 0;
}

.btn-group {
	display: flex;
	margin-top: 20px;
	width: 100%;

	.btn{
		/* 每個按鈕各占50%寬度 */
		width: 50%;   
	}
}