<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <div id="app_1">
        <!-- 書分類大標題 -->
        <ul v-for="item in book_items">
            
            <li v-bind:class="{'select':book_type === item}" 
            v-on:click="book_type=item">{{item}}</li>
            <!-- 書的分類細項 -->
            <ul v-show="book_type ===item">
                <li v-for="bk in BkSubCat" v-show="bk.type==book_type">
                    {{bk.name}}
                </li>
            </ul>
        </ul>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    book_type: '',
                    book_items: [
                        '文學類', '科學類', '社會與科學類', '歷史與地理', '藝術與設計類',
                        '生活與休閒類', '商業與管理類', '宗教與哲學類'
                    ],
                    BkSubCat: [
                        { name: '小說', type: '文學類', url: '' },
                        { name: '散文與詩詞', type: '文學類', url: '' },
                        { name: '自然科學', type: '科學類', url: '' },
                        { name: '科普讀物', type: '科學類', url: '' },
                        { name: '心理與經濟', type: '社會與科學類', url: '#' },
                        { name: '政治與經濟', type: '社會與科學類', url: '#' },
                        { name: '世界與區域歷史', type: '歷史與地理', url: '#' },
                        { name: '地理與文化探索', type: '歷史與地理', url: '#' },
                        { name: '美術與攝影', type: '藝術與設計類', url: '#' },
                        { name: '設計與建築', type: '藝術與設計類', url: '' },
                        { name: '飲食與健康', type: '生活與休閒類', url: '' },
                        { name: '旅遊與手作', type: '生活與休閒類', url: '' },
                        { name: '行銷與創業', type: '商業與管理類', url: '' },
                        { name: '財經與職場技能', type: '商業與管理類', url: '' },
                        { name: '哲學與思辯', type: '宗教與哲學類', url: '' },
                        { name: '宗教信仰與靈修', type: '宗教與哲學類', url: '' },
                    ]
                }
            }
        })
        app.mount('#app_1')

    </script>
</body>

</html>