<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>商品頁面</title>

    <!-- 載入bs5 -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/productCss.css" />
    <!-- 匯入font的icon -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
     

          <div class="row">
            <!-- 這串是分類 -->
            <div class="col-md-2">
              <div id="pubBC">
                <h4 v-on:click="showPub">
                  出版類型
                  <i
                    v-if="isVisible==true"
                    class="fa-solid fa-chevron-down"
                  ></i>
                  <i v-else class="fa-solid fa-chevron-up"></i>
                </h4>

                <ul v-for="pub in pubType" v-show="isVisible">
                  <li class="subA"><a href="">{{pub.name}}</a></li>
                </ul>
              </div>

              <hr />
              <h3>分類</h3>
              <div id="bookSC">
                <!-- 書分類大標題 -->
                <ul class="nav flex-column" v-for="item in bookItems">
                  <li
                    v-bind:class="{'select':BkBigCat === item}"
                    v-on:click="BkBigCat=item"
                  >
                    {{item}}
                    <i class="fa-solid fa-plus"></i>
                  </li>
                  <!-- 書的分類細項 -->
                  <ul v-show="BkBigCat ===item">
                    <li v-for="bk in BkSubCat" v-show="bk.type==BkBigCat">
                      <a v-bind:href="bk.url" class="subA">{{bk.name}}</a>
                    </li>
                  </ul>
                </ul>
              </div>
            </div>

            <!-- 切版10，商品圖+標題說明 -->
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-5">
                  <!-- 商品圖 -->
                  <div class="prodP">
                    <img
                      src="https://lh3.googleusercontent.com/pw/AP1GczPUymPfxPh2YFqzUYpfXHR7o0O1fzvZqlnFaghV_iigdqWrYaOne1IYdY25YVgEmUGYa-2_X4dvulD4OLQqqssAx2ihzFWRjuTXD8A8aFda3sHSwmYJwgg6i6XJAhqiuCXrVw0LJVcuoYrgkMDYsvmg=w460-h580-s-no-gm?authuser=0"
                      alt=""
                    />
                  </div>
                </div>

                <!-- 再從6裡切作者資訊跟價格 -->

                <div class="col-md-6">
                  <h1 class="bookTitle">紅樓夢</h1>
                  <hr />
                  <div class="row prodFlex">
                    <div>
                      <ul>
                        <li>作者/ <a href="#">石心寺</a></li>
                        <li>出版社/ <a href="">知返</a></li>
                        <li>出版日期/ 2025.1.10</li>

                        <li>庫存狀態/ <span class="Stock">有貨</span></li>
                      </ul>
                    </div>
                    <div>
                      <h2 class="price">$750</h2>
                    </div>
                  </div>
                  <hr />
                  <!-- 內文說明 -->
                  <div class="describe">
                    <h4><i>人情冷暖盡現，盛衰榮枯皆在其中。</i></h4>
                    <p>
                      這部經典小說以賈、史、王、薛四大家族的興衰為主線，描繪了一個鐘鳴鼎食、詩禮簪纓的貴族家庭由盛轉衰的歷史圖景。故事聚焦於賈寶玉與林黛玉、薛寶釵之間纏綿悱惻的愛情糾葛，以及大觀園中眾多閨閣女兒的悲歡離合。曹雪芹以精湛的筆法，塑造了賈寶玉的叛逆與深情、林黛玉的敏感與才華、薛寶釵的端莊與世故等一系列鮮活的人物形象。書中不僅細緻入微地展現了清代社會的風俗人情、飲食服飾、詩詞歌賦，更深刻揭示了封建社會的弊端與人性的複雜多變。這是一部百科全書式的巨著。
                    </p>
                  </div>
                  
                </div>
              </div>
              <hr />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <!-- toggle卡片選單 -->
              <div id="card-1">
                <!-- 1 -->
                <div class="card" id="card_spe">
                  <div class="card-header">
                    <a
                      class="card-link"
                      data-toggle="collapse"
                      data-parent="#card-1"
                      href="#card-element-2"
                      >商品規格▼</a
                    >
                  </div>
                  <div id="card-element-2" class="collapse show">
                    <div class="card-body">
                      <p><span>ISBN：</span>999-000-984157-7</p>
                      <p><span>頁數：</span>962</p>
                      <p><span>語言：</span>中文</p>
                    </div>
                  </div>
                </div>

                <!-- 3 -->
                <div class="card" id="card_del">
                  <div class="card-header">
                    <a
                      class="collapsed card-link"
                      data-toggle="collapse"
                      data-parent="#card-1"
                      href="#card-element-3"
                    >
                      運送與售後▼</a
                    >
                  </div>
                  <div id="card-element-3" class="collapse">
                    <div class="card-body">
                      <dl>
                        <dt>配送範圍</dt>
                        <dd>
                          -前僅提供台灣本島地區配送服務，外島及海外地區暫不開放配送，敬請見諒。
                        </dd>
                        <dt>出貨時間</dt>
                        <dd>
                          -訂單確認後一般於 1–3
                          個工作天內出貨（不含例假日與國定假日）。<br>
                          -如遇特殊促銷或物流旺季，出貨時間可能延長，還請耐心等候。
                        </dd>
                        <dt>配送方式與時間</dt>
                        <dd>
                          -我們採用合作物流夥伴配送，配送時間依各地區及物流狀況而異，通常於出貨後
                          1–3 天送達。
                        </dd>
                        <dt>訂單查詢</dt>
                        <dd>
                          -出貨後將以電子郵件通知物流單號，您可透過該單號查詢配送進度。<br>-如未收到通知信，請先檢查垃圾郵件匣，或聯絡客服協助處理。
                        </dd>
                        <dt>退換貨說明</dt>
                        <dd>
                          -若收到商品有破損、缺頁、印刷錯誤等情況，請於收到商品
                          7
                          天內聯絡我們，提供照片及訂單資訊，我們將盡快為您處理退換貨。<br>-退換貨僅限商品本身有瑕疵，恕不接受因個人因素（如不喜歡內容）申請退貨。
                        </dd>
                        <dt>客服聯絡方式</dt>
                        <dd>
                          -如有任何問題，歡迎透過客服信箱或網站聯絡表單與我們聯繫，我們將儘速回覆您。
                        </dd>
                      </dl>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 推薦1 -->
          <div class="page-header">
            <h4 class="txtMaybeLike">同作者其他書籍</h4>
            <div class="row smProduct" id="sameAut">
              <div v-if="novels && novels.length > 0">
                <div class="col-md-4" v-for="n in novels" v-bind:key="n.書名">
                  <a href="">
                    <img v-bind:src="n.imgUrl" alt="" />
                    <h4>{{n.書名}}</h4>
                  </a>
                  <!-- {{ n.expanded ? n.簡介 : n.簡介.slice(0, 50) + (n.簡介.length > 50 ? '...' : '') }} -->
                  <div v-if="n.expanded">{{n.簡介}}</div>
                  <div v-else>
                    <div v-if="n.簡介.length>50">
                      {{n.簡介.slice(0, 50)}}...
                    </div>
                  </div>
                </div>
              </div>
              <div v-else>
                <h3>無</h3>
              </div>
            </div>
          </div>
          <!-- 推薦2 -->
          <div class="MaybeLike ">
            <h4 class="txtMaybeLike"><i>你可能也喜歡...</i></h4>

            <!-- 推薦小圖 -->
            <div class="row smProduct" id="youMaybeLike">
              <div
                class="col3"
                v-for="(n,index) in novels"
                v-bind:key="n.書名"
              >
                <a href="">
                  <img v-bind:src="n.imgUrl" alt="" />
                  <h4><span>{{n.書名}}</span></h4>
                  <p class="authorColor">作者:{{n.作者}}</p>

                </a>
                <!-- {{ n.expanded ? n.簡介 : n.簡介.slice(0, 50) + (n.簡介.length > 50 ? '...' : '') }} -->
                <div v-if="n.expanded">{{n.簡介}}</div>
                <div v-else>
                  <div v-if="n.簡介.length>20">{{n.簡介.slice(0, 20)}}...</div>
                </div>
                 <div class="PandChartBtn">
                    <i
                      ><h3><small>$</small>{{n.price}}</h3></i
                    ><button>加入購物車</button>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 載入js -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/productJs.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> -->
    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/litVue.js"></script>
    <script>
      const pub = Vue.createApp({
        data() {
          return {
            pubType: [
              { name: "書籍", url: "#" },
              { name: "漫畫", url: "#" },
              { name: "雜誌", url: "#" },
              { name: "繪本", url: "#" },
              { name: "其他出版物", url: "#" },
            ],
            isVisible: false, // 預設不顯示
          };
        },
        methods: {
          showPub() {
            this.isVisible = !this.isVisible; //=!為相反  是跟之前的顯示為相反的意思
          },
        },
      });
      pub.mount("#pubBC");
      const bk = Vue.createApp({
        data() {
          return {
            BkBigCat: "",
            bookItems: [
              "文學類",
              "科學類",
              "社會與科學類",
              "歷史與地理",
              "藝術與設計類",
              "生活與休閒類",
              "商業與管理類",
              "宗教與哲學類",
            ],
            BkSubCat: [
              {
                name: "小說",
                type: "文學類",
                url: "https://www.youtube.com/watch?v=9ANzhPJZ2U0",
              },
              { name: "散文與詩詞", type: "文學類", url: "" },
              { name: "自然科學", type: "科學類", url: "" },
              { name: "科普讀物", type: "科學類", url: "" },
              { name: "心理與經濟", type: "社會與科學類", url: "#" },
              { name: "政治與經濟", type: "社會與科學類", url: "#" },
              { name: "世界與區域歷史", type: "歷史與地理", url: "#" },
              { name: "地理與文化探索", type: "歷史與地理", url: "#" },
              { name: "美術與攝影", type: "藝術與設計類", url: "#" },
              { name: "設計與建築", type: "藝術與設計類", url: "" },
              { name: "飲食與健康", type: "生活與休閒類", url: "" },
              { name: "旅遊與手作", type: "生活與休閒類", url: "" },
              { name: "行銷與創業", type: "商業與管理類", url: "" },
              { name: "財經與職場技能", type: "商業與管理類", url: "" },
              { name: "哲學與思辯", type: "宗教與哲學類", url: "" },
              { name: "宗教信仰與靈修", type: "宗教與哲學類", url: "" },
            ],
          };
        },
      });
      bk.mount("#bookSC");
    </script>
  </body>
</html>
