
/* 你可能會喜歡_小圖區 */
.MaybeLike {
  padding: 10px 0;
}
.page-header{
  background-color: rgba(165, 42, 42, 0.77);
  padding: 10px 0;}
.txtMaybeLike{
  color: white;
  margin: 12px ;
}
.txtMaybeLike i{color: rgba(165, 42, 42, 0.77);
border-bottom: 1px rgba(165, 42, 42, 0.77) solid;}
