* {
  margin: 0;
  padding: 0;
  list-style: none;
}
a:hover,
a {
  text-decoration: none;
}
/* 設定寬度跟置中 */
.container {
  margin: 0 auto;
  width: 1300px;
}

/* 左側分類 */
.cat:hover {
  background-color: hsla(36, 51%, 50%, 0.3);
  border-radius: 20px;
}
.cat {
  padding: 10px;
  margin: 3px 0;
  transition: all 0.7s;
}
#bookSC li {
  font-size: 20px;
}
#bookSC a {
  font-size: 18px;
}
/* 改icon大小 */
.fa-solid {
  scale: 0.7;
  color: hsl(36, 50.7%, 50%);
}
/* 細項的li整體往左移 */
.subA {
  display: block;
  margin-left: 20px;
  padding: 10px 0;
  font-size: 20px;
}
.subA,
.subA a {
  color: hsl(353, 51%, 33%);
  transition: all 0.55s;
}
.subA:hover,
.subA a:hover {
  color: hsl(36, 50.7%, 50%);
}

/* 子標籤隱藏 */
#litShow {
  display: none;
}

/* 分類頁的作者跟價格 */
.col3 {
  /* border: 1px black solid; */
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 390px;
  margin: 10px auto;
  padding: 0 auto;
}
.authorColor {
  color: hsl(36, 50.7%, 50%);
  transition: all 0.55s;
}
.authorColor:hover {
  color: hsl(38, 74%, 24%);
}
.PandChartBtn {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: end; /* 垂直置中 */
}
/* 分類頁的價格 */
.PandChartBtn h3 {
  font-weight: bold;
  font-family: "標楷體";
  color: hsl(353, 100%, 29.2%);
  transition: all 1s;
}
/* 分類頁的加入購物車按鈕 */
.PandChartBtn button {
  color: white;
  background-color: hsl(36, 50.7%, 71.4%);
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  transition: all 0.7s;
}
.PandChartBtn button:hover {
  background-color: hsl(353, 100%, 29.2%);
}
/* 商品頁 */

/* 產品頁面 */
.prodP {
  margin: 0 auto;
}
.prodP img {
  width: 100%;
}
.prodFlex {
  display: flex;
  justify-content: space-around;
}
/* 書標題 */
.bookTitle {
  margin-bottom: 12px;
  /* border-bottom: 1px solid black; */
}
/* 價格 */
.price {
  font-weight: bold;
  color: white;
  background-color: hsl(36, 50.7%, 50%);
  padding: 15px 45px;
  border-radius: 0px 30px;
  margin-top: 40px;
}

/* 庫存 */
.Stock {
  color: hsl(353, 100%, 29.2%);
  font-weight: bold;
  font-size: 20px;
}
/* 商品頁的作者跟出版商 */
.prodFlex {
  font-size: 20px;
}
.prodFlex a {
  color: hsl(353, 100%, 29.2%);
}
/* 商品頁的內文描述 */
.describe i {
  color: hsl(353, 100%, 29.2%);
}
/* 商品頁的商品規格 */
#card-1 {
  display: flex;
  justify-content: space-around;
}
#card_spe {
  width: 300px;
}
#card_del {
  width: 1250px;
}
.card a {
  font-size: 20px;
  color: white;
}
.card-header {
  background-color: hsl(353, 100%, 29.2%);
}
.card-body {
  margin: 10px 30px;
}
.card-body dt {
  color: hsl(353, 100%, 29.2%);
}

/* 你可能會喜歡_小圖區 */
.MaybeLike {
  padding: 10px 0;
}
.page-header{
  background-color: rgba(165, 42, 42, 0.77);
  padding: 10px 0;}
.txtMaybeLike{
  color: white;
  margin: 12px ;
}
.txtMaybeLike i{color: rgba(165, 42, 42, 0.77);
border-bottom: 1px rgba(165, 42, 42, 0.77) solid;}

/* 商品小圖 */
.smProduct img {
  /* width: 150px; */
  width: 100%;
  margin: 15px auto;
  transition: all 0.5s;
}
.smProduct {
  margin-bottom: 50px;
  padding: 30px;
}

/* 書名超連結 */
.smProduct span {
  color: rgb(34, 34, 34);
  padding-bottom: 10px;
  display: inline-block;
  transition: all 0.55s;
}
.smProduct a:hover span {
  color: hsl(353, 100%, 29.2%);
}
.smProduct h4 span{font-size: 20px;}
/* 動態產生線 */
.smProduct h4::after {
  background-color: hsl(353, 100%, 29.2%);
  content: "";
  display: block;
  width: 30%;
  height: 2px;
  transition: all 0.4s;
}
.smProduct a:hover h4::after {
  width: 100%;
}

/* 滑到變圓角，可惜手機不能有 */
.smProduct a:hover img {
  scale: 1.03;
  border-radius: 20px;
  z-index: 2;
}

/* 跑馬燈 */
/* 宣告動畫marquee */
@keyframes marquee {
  /* 從x軸0的地方跑到-50%的地方 */
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.marquee {
  width: 100%;
  overflow: hidden; /* 自動隱藏超出的文字或圖片 */
}
.marquee .scroll {
  /* 寬度等於內容最大寬度，表示內容固有的最大的寬度或高度->text就算會溢出（overflow）也不會換行。 */
  width: max-content;
  display: flex;
  /* font-weight: 100; */
  font-family: "標楷體";
  /* 線性持續10秒的動畫 */
  animation: marquee 10s linear infinite;
}
.mqItem {
  font-size: 5em; /*em:相對長度單位。 若在一個沒有設定 font-size 的「元素」上則會繼承「父元素」的 font-size 屬性值*/
  color: hsl(353, 100%, 29.2%);
  display: flex;
  align-items: center; /*垂直對齊*/
  flex-shrink: 0; /*flex-shrink 尚未進行設定時，會按照數字「壓縮」比例分配。0為不被壓縮。*/
  white-space: nowrap; /*遇到連續空白字元與換行字元時，會合併成一個空白字元，不論外層有沒有容器都強制不換行。 詳情->https://vocus.cc/article/64804d00fd89780001db397d*/
}
.scroll .second {
  animation-delay: -5s;
} /*提前五秒開始做*/
/*hover就暫停動畫*/
.marquee:hover .scroll {
  animation-play-state: paused;
}
/* 跑馬燈結束 */

/* 改尺寸 */
/* 659~577 */
@media (min-width: 577px) and (max-width: 670px) {
  /* 分類頁的作者跟價格 */
  .PandChartBtn {
    flex-direction: column;
    margin: 0px auto;
  }
  .PandChartBtn h3 {
    font-size: 20px;
    margin-bottom: 0px;
  }
  .PandChartBtn button {
    width: 100%;
    border-radius: 0px;
  }
  /* 小圖區 */
  .col3 {
    margin: 0 auto;
    height: 370px;
    width: 150px;
  }
  .PandChartBtn {
    margin-top: auto;
  }
  /* 商品頁 */
  #card-1 {
    display: flex;
    flex-direction: column;
  }
  #card_spe {
    width: 100%;
  }
  #card_del {
    width: 100%;
  }
}
/* 中尺寸 */
@media (min-width: 670px) and (max-width: 992px) {
  /* 分類頁的作者跟價格 */
  /* 書名超連結 */
  .smProduct span {
    font-size: 23px;
  }
  /* 價格 */
  .PandChartBtn {
    align-items: end;
  }
  .PandChartBtn h3 {
    font-size: 22px;
  }
  .PandChartBtn button {
    width: 110px;
  }
  /* 小圖區 */
  .col3 {
    margin: 10px auto;
    padding: 0 2px;
    width: 190px;
    height: 360px;
  }
  /* 細項的li整體往左移 */
  /* .subA {margin-left: -20px;} */
}

/* 小尺寸 */
@media (max-width: 577px) {
  .container {
    margin: 0 auto;
    width: 100%;
  }
  /* 分類頁的作者跟價格 */
  .PandChartBtn {
    flex-direction: column;
  }
  /* 價格 */
  .PandChartBtn h3 {
    font-size: 25px;
    margin-bottom: 0px;
  }
  .PandChartBtn button {
    width: 100%;
    border-radius: 0px;
  }
  /* 小圖區 */
  .col3 {
    margin: 10px auto;
    padding: 0 15px;
    width: 170px;
    height: 330px;
  }
  .smProduct span {
    font-size: 23px;
  }
  /* 商品頁 */
  #card-1 {
    display: flex;
    flex-direction: column;
  }
  #card_spe {
    width: 100%;
  }
  #card_del {
    width: 100%;
  }
}
