* {
  margin: 0;
  list-style: none;
}
/* 設定寬度跟置中 */
.container{margin: 0 auto;
width: 1500px;}

/* 左側分類 */
#bookSC li{
  margin: 10px 0;
  font-size: 20px;}
#bookSC ul ul li{
  font-size: 18px;}
/* 改icon大小 */
.fa-solid{scale: 0.7;}
/* 細項的li整體往左移 */
.subA{margin-left: -10px;}

/* 底部的收藏/加到購物車/回頂部 */
.bottFlex {
  display: flex;
  background-color: rgb(255, 255, 255);
  padding: 20px 50px;
  justify-content: center;
  position: relative;
}
/* 回頂部 */
#backToTop{
  position: absolute;
  top: -100px;
  right: 20px;
  border: 2px solid black;
  width: 90px;
  height: 90px;
  border-radius: 50px;
  font-size: 50px;}
#backToTop a{color: rgb(84, 61, 105);}
#backToTop:hover{background-color: rgb(220, 220, 220);}

.bottFlex a {
  font-size: 30px;
  color: aliceblue;
  display: block;}
.bottFlex button {
  border-radius: 10px;
  padding: 10px 90px;
  margin: 0 50px;
  background-color: brown;}


/* 子標籤隱藏 */
#litShow {
  display: none;
}
/* 產品頁面 */
.prodP {
  margin: 0 auto;
}
.prodP img {
  width: 100%;
}
.prodFlex{
  display: flex;
  justify-content: space-around;
}
/* 書標題 */
.bookTitle{
  margin-bottom: 12px;
  border-bottom:  1px solid black;
}
/* 價格 */
.price {
  font-weight: bold;
  color: white;
  background-color: brown;
  padding: 15px 70px;
  border-radius: 10px 40px;
}

/* 庫存 */
.Stock{
  color: brown;
  font-weight: bold;
  font-size: 20px;
}
/* 分類頁的作者跟價格 */
.authorP {
  display: flex;
  justify-content: space-between;
  /* 垂直置中 */
  align-items: center;
  /* width: 240px; */
}

.authorP h3{
font-weight: bold;
  color: brown;
  border-radius:5px;
  transition: all 1s;
 
}
.authorP button{
color: aliceblue;
background-color: brown;
border: none;
padding:10px 20px;
border-radius: 20px;
}
/* 商品規格 */
.card a {
  font-size: 20px;
  color: aliceblue;
}
.card-body {
  margin: 10px 30px;
}
.card-header {
  background-color: rgb(222, 127, 127);
}

/* 你可能會喜歡_小圖區 */
.txtMaybeLike {
  color: brown;
  margin: 12px 0;
}

.smProduct img {
  /* width: 150px; */
  height: 300px;
  margin: 15px auto ;
  transition: all 0.5s;
 

}
.smProduct {
  margin-bottom: 100px;
  padding: 30px;
}
.smProduct a{text-decoration: none;}
/* .smProduct h4{

} */
.smProduct span{
  padding-bottom: 10px ;
  display: inline-block;
  border-bottom: 1px solid black;

}
.col-sm-4{
  transition: all 1.5s;
}
.col-sm-4:hover{
  scale: 1.01;
}
/* 滑到變圓角，可惜手機不能有 */
.smProduct img:hover {
  scale: 1.05;
  border-radius: 20px;
}